.produtos {

    flex: 1;
    padding: 16px 8px;
    max-width: 960px;

	h1 {
        font-size: 2.25em;
        flex-grow: 1;
    }

    header{
        display: flex;
    }

    .adicionar-produtos {
        background: #c17139;
        color: #e7e4d8;
        font-size: 1.125em;
        font-family: Courier, monospace;
        text-transform: uppercase;
        padding: 15px 20px;
        border-radius: 4px;
        text-align: center;
    }

    &-item {
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
        margin-top: 20px;
        position: relative;

        display: flex;
        
        a {
            width: 24px;
            height: 24px;
            overflow: hidden;
            text-indent: -200px;
            position: absolute;
            right: 20px;
            top: 10px;
            background: url('../img/edit.svg') no-repeat;

            &:hover {
                background: url('../img/edit-hover.svg') no-repeat;
            }
        }

        ul {
            padding: 0 20px;
        }

        li {
            padding: 10px 0;
            font-size: 1.125em;
            font-family: Courier, monospace;
            border-bottom: 1px solid #e7e4d8;

            &:last-child {
                border: none;
            }
        }
        span {
            font-weight: bold;
            width: 70px;
            display: inline-block;
        }
        img{
            align-self: flex-start;
        }
    }
}

.footer {
	background: #D6D3C8;
	text-align: center;
	padding: 60px 0;
	font-size: 1.125em;
	line-height: 1.4em;
}